.icon {
    margin-top: 15px;
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    svg:nth-child(1) {
        width: 6%;
        color: #F43F5E;
    }

    svg:nth-child(2) {
        width: 6%;
    }
}

.content-1 {
    span:nth-child(1) {
        font-size: 32px;
        font-weight: 700;
    }

    span:nth-child(2) {
        font-size: 32px;
        font-weight: 700;
        color: #F43F5E;
    }
}

.content-2 {
    margin-top: 15px;
}